<div
  id="main"
  class="container w-full md:max-w-xl p-3 mx-auto drop-shadow-md mt-3"
>
  <div
    class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4"
    role="alert"
  >
    <p class="text-justify">
      Mohon perhatian bahwa pembayaran yang anda lakukan akan langsung
      diteruskan ke merchant terkait. Jika ada kendala silahkan hubungi costumer
      service dari merchant terkait.
    </p>
  </div>

  <div class="my-10 text-center">
    <h3 class="text-sm">
      Bayar Sebelum <%= fullDate.day %> <%= fullDate.month %> <%= fullDate.year
      %> Pukul <% if(fullDate.hours < 10){ %>0<% } %><%= fullDate.hours %>.<% if(fullDate.minutes < 10){ %>0<% } %><%= fullDate.minutes %>
    </h3>
    <h1
      class="mt-3 text-sky-400 text-5xl font-bold drop-shadow-md tracking-wider"
    >
      <%= price %>
    </h1>
  </div>

  <div class="mt-5">
    <!-- Manual Transfer -->
    <details class="bg-sky-200 shadow rounded mb-2 group" open>
      <summary
        class="list-none flex flex-wrap items-center cursor-pointer focus-visible:outline-none focus-visible:ring focus-visible:ring-sky-400 rounded group-open:rounded-b-none group-open:z-[1] relative"
      >
        <h3 class="flex flex-1 p-4 font-semibold">Transfer Manual</h3>
        <div class="flex w-10 items-center justify-center">
          <div
            class="border-8 border-transparent border-l-gray-600 ml-2 group-open:rotate-90 transition-transform origin-left"
          ></div>
        </div>
      </summary>
      <div class="py-2 bg-slate-50 rounded-b text-center">
        <div
          id="bri-manual"
          class="inline-block m-2 w-56 cursor-pointer bg-sky-600 rounded"
        >
          <p class="my-2 text-lg font-bold text-white">BRI</p>
        </div>
        <div
          id="bni-manual"
          class="inline-block m-2 w-56 cursor-pointer bg-orange-500 rounded"
        >
          <p class="my-2 text-lg font-bold text-white">BNI</p>
        </div>
        <div
          id="mandiri-manual"
          class="inline-block m-2 w-56 cursor-pointer bg-amber-400 rounded"
        >
          <p class="my-2 text-lg font-bold text-white">Mandiri</p>
        </div>
        <div
          id="bca-manual"
          class="inline-block m-2 w-56 cursor-pointer bg-blue-900 rounded"
        >
          <p class="my-2 text-lg font-bold text-white">BCA</p>
        </div>
        <div
          id="other-manual"
          class="inline-block m-2 w-56 cursor-pointer bg-gray-600 rounded"
        >
          <p class="my-2 text-lg font-bold text-white">Bank Lainnya</p>
        </div>
      </div>
    </details>

    <!-- Virtual Account -->
    <details class="bg-sky-200 shadow rounded mb-2 group">
      <summary
        class="list-none flex flex-wrap items-center cursor-pointer focus-visible:outline-none focus-visible:ring focus-visible:ring-sky-400 rounded group-open:rounded-b-none group-open:z-[1] relative"
      >
        <h3 class="flex flex-1 p-4 font-semibold">Virtual Akun</h3>
        <div class="flex w-10 items-center justify-center">
          <div
            class="border-8 border-transparent border-l-gray-600 ml-2 group-open:rotate-90 transition-transform origin-left"
          ></div>
        </div>
      </summary>
      <div class="py-2 bg-slate-50 rounded-b text-center">
        <div id="bri-virtual" class="inline-block m-2 w-56 cursor-pointer bg-sky-600 rounded">
          <p class="my-2 text-lg font-bold text-white">BRI</p>
        </div>
        <div id="bni-virtual" id="other-virtual" class="inline-block m-2 w-56 cursor-pointer bg-orange-500 rounded">
          <p class="my-2 text-lg font-bold text-white">BNI</p>
        </div>
        <div id="mandiri-virtual" class="inline-block m-2 w-56 cursor-pointer bg-amber-400 rounded">
          <p class="my-2 text-lg font-bold text-white">Mandiri</p>
        </div>
        <div id="bca-virtual" class="inline-block m-2 w-56 cursor-pointer bg-blue-900 rounded">
          <p class="my-2 text-lg font-bold text-white">BCA</p>
        </div>
        <div id="other-virtual" class="inline-block m-2 w-56 cursor-pointer bg-gray-600 rounded">
          <p class="my-2 text-lg font-bold text-white">Bank Lainnya</p>
        </div>
      </div>
    </details>

    <!-- Retail -->
    <details class="bg-sky-200 shadow rounded mb-2 group">
      <summary
        class="list-none flex flex-wrap items-center cursor-pointer focus-visible:outline-none focus-visible:ring focus-visible:ring-sky-400 rounded group-open:rounded-b-none group-open:z-[1] relative"
      >
        <h3 class="flex flex-1 p-4 font-semibold">Outlet Retail</h3>
        <div class="flex w-10 items-center justify-center">
          <div
            class="border-8 border-transparent border-l-gray-600 ml-2 group-open:rotate-90 transition-transform origin-left"
          ></div>
        </div>
      </summary>
      <div class="py-2 bg-slate-50 rounded-b text-center">
        <div
          class="inline-block m-2 w-56 cursor-pointer rounded-md drop-shadow-xl"
        >
          <img
            src="https://indomaret.co.id/Assets/image/logo_indomaret.png"
            alt="indomaret-logo"
          />
        </div>
        <div
          class="inline-block bg-white m-2 w-56 cursor-pointer rounded-md drop-shadow-xl"
        >
          <img
            src="https://alumniphb.net/upload/loker//6934e562ea34351f15915cc23d7e8386.png"
            alt="alfamart-logo"
          />
        </div>
      </div>
    </details>

    <!-- Ewallet -->
    <details class="bg-sky-200 shadow rounded mb-2 group">
      <summary
        class="list-none flex flex-wrap items-center cursor-pointer focus-visible:outline-none focus-visible:ring focus-visible:ring-sky-400 rounded group-open:rounded-b-none group-open:z-[1] relative"
      >
        <h3 class="flex flex-1 p-4 font-semibold">Ewallet</h3>
        <div class="flex w-10 items-center justify-center">
          <div
            class="border-8 border-transparent border-l-gray-600 ml-2 group-open:rotate-90 transition-transform origin-left"
          ></div>
        </div>
      </summary>
      <div class="p-4 bg-slate-50 rounded-b">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
        obcaecati animi reiciendis dolore voluptas? Earum, odio quibusdam quae
        dolores iure nobis asperiores illum quis magni qui laborum illo
        laudantium explicabo?
      </div>
    </details>
  </div>
</div>

